/java/client/
/java/server/
.project
.classpath
.settings/
bin/
target
delphi
csharp
.idea/
*.iml
*.iws
output/
**/*.orig
.java-version
*.launch
.DS_Store
*.log
.evosuite/
*.phd
*.trc
javacore.*.txt
*.tmp
/pom.xml
